@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Epilogue;
}

body {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  width: 90%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0 8% 0;
}

.nav-bar {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar .nav-btn {
  border-radius: 7px;
  font-weight: bold;
  padding: 1rem;
  color: #172339;
  cursor: pointer;
}

nav .nav-btn:hover {
  background: #172339;
  color: #faf8f6;
}

/* Main */
main {
  width: 90%;
  height: calc(100vh - 15vh);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 10% 0;
}

.sup-sub {
  width: 90%;
  display: flex;
  justify-content: center;
}

.sup-sub-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
  word-wrap: break-word;
  z-index: 2;
}

.sup-sub-left .curved-line {
  position: relative;
  left: 46%;
  margin: 0;
  bottom: -8%;
}

.sup-sub-left .p-one {
  font-size: 4.5em;
  color: #172339;
}

.sup-sub-left .p-two {
  width: 60%;
  line-height: 35px;
  font-size: 20px;
  color: #49566d;
}

.sup-sub-left .sub-btn {
  background: #172339;
  color: #faf8f6;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.sup-sub-left .sub-btn:hover {
  background: linear-gradient(to bottom right, #cb30e3, #ffa84e);
}

/* Sup Middle */

.sup-sub-middle {
  position: relative;
  width: 31%;
  left: -14.3%;
}

/* Sup Right */

.sup-sub-right {
  display: flex;
  width: 10%;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  right: 2%;
  position: relative;
}

.sup-sub-right h3 {
  font-size: 2.5rem;
  color: #172339;
}

.sup-sub-right p {
  color: #49566d;
}

/* section */

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 86vh;
  background: #172339;
  padding: 5% 0 5% 0;
  border-radius: 20px;
  z-index: 2;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: #faf8f6;
  width: 90%;
  height: 100%;
}

.left-sec {
  background: url("/src/assets/pattern-blur.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: cover;
  position: relative;
  width: 35%;
  top: -5%;
}

.left-sec img {
  width: 100%;
}

.right-sec {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 33%;
  line-height: 25px;
}

.right-sec .right-sec-1 p {
  font-size: 3rem;
}

.right-sec .right-sec-2 {
  font-size: 18px;
  line-height: 35px;
}

.right-sec-3 h5 {
  font-size: 1.1rem;
}

.right-sec-3 p {
  letter-spacing: 3px;
}

/* Footer */
footer {
  position: relative;
  top: -10em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25vi;
  background: #f3ede7;
  bottom: -10em;
}

.footer-bar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10em;
}

.footer-2 {
  color: #49566d;
  font-size: 16px;
}

.footer-3 > img {
  margin-right: 20px;
  cursor: pointer;
  padding: 5px;
}

.footer-3 img:hover {
  filter: invert(29%) sepia(14%) saturate(748%) hue-rotate(170deg)
    brightness(94%) contrast(84%);
}

/* Responsiveness  */

/* Mobile View */

@media (max-width: 600px) {
  .container {
    display: flex;
  }

  nav {
    width: 95%;
    height: 15vh;
    margin-bottom: 5%;
  }

  /* Main */

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: solid 1px red;
    margin: 0 0 20% 0;
  }

  .sup-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .sup-sub-left {
    width: 100%;
  }

  .sup-sub-left .curved-line {
    position: relative;
    left: 46%;
    bottom: -45px;
  }

  .sup-sub-left .curved-line img {
    width: 170px;
  }

  .sup-sub-left .p-one {
    font-size: 2.3em;
    width: 100%;
  }
  .sup-sub-left .p-two {
    font-size: 1.1em;
    width: 100%;
    text-align: justify;
    line-height: 20px;
  }

  /* Main Middle */

  main .sup-sub-middle {
    position: relative;
    width: 100%;
    left: auto;
  }

  main .sup-mid img {
    content: url("../assets/image-hero-landscape.png");
    background-position: center;
    object-fit: cover;
    width: 100%;
  }

  /* Main Right */
  main .sup-sub-right .top,
  .middle,
  .down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Main Ends */

  /* Section Starts */

  section {
    width: 100%;
    height: 180vh;
    background: none;
    border: green solid 1px;
  }

  .section {
    position: relative;
    width: 100%;
    height: 150vh;
    padding: 0 0 0 0;
    margin: 0;
    background-color: #172339;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .left-sec {
    position: absolute;
    top: -18%;
  }
  .left-sec img {
    top: 100%;
    width: 200px;
  }

  .middle-sec {
    margin-top: 10em;
  }

  .right-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding: 0 5% 0 5%;
    line-height: 25px;
  }

  .right-sec .right-sec-1 p {
    font-size: 2.5rem;
  }

  .right-sec .right-sec-2 {
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
    line-height: 35px;
  }

  .right-sec-3 h5 {
    font-size: 1rem;
  }

  .right-sec-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right-sec-3 p {
    letter-spacing: 3px;
  }
  /* Section Ends */

  /* Footer Starts */

  footer {
    top: -10em;
    bottom: -10em;
    height: 70vh;
    border: 1px solid red;
  }
  .footer-bar {
    position: relative;
    border: gold solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 12em;
    height: 50%;
    gap: 40px;
  }

  .footer-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
  }
}
